@import 'compass';
@import 'partials/variables';

body{
	background: $grey;
}

div {
	background: image-url('icon/help.png');
	width: 10px;
}

p{ 
	color: $black;
	text-decoration: none;
	text-align: center;
	background: red;
}